@charset "UTF-8";
body {
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
}

.card, .new, .restaurants__container .card, .fonctionnement__etape .texteEtape, .header, .buttonContainer {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}

.restaurants__container .card:hover {
  box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.5);
}

/* Media Queries */
/* Le coeur et ses animations - battements par défaut et remplissage au hover* - Accueil */
.coeur {
  position: relative;
  margin: auto;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background-color: color(secondary_light);
  animation: beat 1s infinite;
}
@media (min-width: width(tablet)) {
  .coeur {
    width: 25px;
    height: 25px;
  }
}
.coeur:hover, .coeur:focus {
  animation: beat 0s;
}
.coeur:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -10px;
  background-color: color(secondary_light);
}
.coeur:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10px;
  background-color: color(secondary_light);
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(45deg);
  }
  50% {
    transform: scale(0.8) rotate(45deg);
  }
}
/* Les boutons */
.buttonContainer {
  width: 250px;
  margin: auto;
  text-align: center;
  border-radius: 100px;
  transition: opacity 300ms ease-in-out;
}
@media (min-width: width(tablet)) {
  .buttonContainer {
    width: 300px;
  }
}
.buttonContainer:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}
.buttonContainer button {
  width: 100%;
  height: 60px;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(150deg, color(secondary), color(primary));
}
@media (min-width: width(tablet)) {
  .buttonContainer button {
    font-size: 20px;
  }
}
.buttonContainer button:hover {
  cursor: pointer;
}

.card, .new, .restaurants__container .card, .fonctionnement__etape .texteEtape, .header, .buttonContainer {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}

.restaurants__container .card:hover {
  box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.5);
}

/* Colors */
/* MQ */
/* Media Queries */
/* Header commun aux 5 pages */
.header {
  height: 4.5vh;
  padding: 5% 0 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
@media (min-width: 1430px) {
  .header {
    padding: 3% 18%;
  }
}
.header__arrow {
  display: none;
}
.header__logo {
  width: 200px;
  height: auto;
  transform: scale(0.9);
}
@media (min-width: 1430px) {
  .header__logo {
    width: 250px;
  }
}
.header__arrow--display {
  cursor: pointer;
  display: flex;
  position: absolute;
  left: 5%;
}
.header__arrow--display img {
  height: 20px;
  width: 20px;
}

.card, .new, .restaurants__container .card, .fonctionnement__etape .texteEtape, .buttonContainer, .header {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}

.restaurants__container .card:hover {
  box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.5);
}

/* Colors */
/* MQ */
/* Media Queries */
/* Footer commun aux 5 pages */
.footer {
  height: 25vh;
  background-color: #3a3838;
}
@media (min-width: 600px) {
  .footer {
    height: 35vh;
  }
}
.footer__container {
  width: 90%;
  margin: auto;
  font-family: "roboto";
  padding: 5% 0 0 0;
  font-weight: 600;
  letter-spacing: 0.02em;
}
@media (min-width: 600px) {
  .footer__container {
    width: 75%;
    font-size: 20px;
  }
}
@media (min-width: 1430px) {
  .footer__container {
    padding: 3% 0 0 0;
  }
}
.footer__container .fas {
  margin-right: 10px;
  color: white;
}
.footer__container > *:not(:last-child) {
  margin-bottom: 8px;
}
@media (min-width: 600px) {
  .footer__container > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.footer__container a {
  color: white;
}
.footer__container p {
  margin: 0;
}
.footer__container .footer__logo {
  margin: 0 0 1rem;
  font-family: "shrikhand";
  color: white;
  font-size: 20px;
  font-weight: lighter;
}
@media (min-width: 600px) {
  .footer__container .footer__logo {
    font-size: 26px;
    margin: 0 0 2rem;
  }
}
.footer__container .restau {
  display: flex;
  align-items: center;
}
.footer__container .partenaire {
  display: flex;
  align-items: center;
}
.footer__container .nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer__container .nav ul li:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .footer__container .nav ul li:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* Media Queries */
/* Colors */
/* MQ */
.card, .new, .restaurants__container .card, .fonctionnement__etape .texteEtape, .buttonContainer, .header {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}

.restaurants__container .card:hover {
  box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "shrikhand";
  src: url(../fonts/shrikhand/Shrikhand-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
/* Les boutons */
.buttonContainer {
  width: 250px;
  margin: auto;
  text-align: center;
  border-radius: 100px;
  transition: opacity 300ms ease-in-out;
}
@media (min-width: 600px) {
  .buttonContainer {
    width: 300px;
  }
}
.buttonContainer:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}
.buttonContainer button {
  width: 100%;
  height: 60px;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(150deg, #FF79DA, #9356DC);
}
@media (min-width: 600px) {
  .buttonContainer button {
    font-size: 20px;
  }
}
.buttonContainer button:hover {
  cursor: pointer;
}

.card, .new, .restaurants__container .card, .fonctionnement__etape .texteEtape, .buttonContainer, .header {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}

.restaurants__container .card:hover {
  box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.5);
}

/* Media Queries */
/* Le coeur et ses animations - battements par défaut et remplissage au hover* - Accueil */
.coeur {
  position: relative;
  margin: auto;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background-color: #fface8;
  animation: beat 1s infinite;
}
@media (min-width: 600px) {
  .coeur {
    width: 25px;
    height: 25px;
  }
}
.coeur:hover, .coeur:focus {
  animation: beat 0s;
}
.coeur:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -10px;
  background-color: #fface8;
}
.coeur:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10px;
  background-color: #fface8;
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(45deg);
  }
  50% {
    transform: scale(0.8) rotate(45deg);
  }
}
/* Apparition de la page pendant la disparition du loading spinner */
.main {
  margin: 0;
  width: 100%;
  animation: appear 4500ms linear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.01;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* Loading spinner et son animation rotation */
.loader {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 10px solid rgba(181, 181, 181, 0.5);
  border-radius: 50%;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  animation: spin 1500ms ease-in-out 3;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* Container du loading spinner qui disparait pendant l'apparition de la page */
.loaderContainer {
  position: absolute;
  transform-origin: center;
  top: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  opacity: 0;
  z-index: -3;
  animation: disappear 4400ms ease-in-out;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
/* Section Position - Ville de recherche */
.position {
  margin: 0;
  height: 6vh;
  background-color: rgba(206, 206, 206, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.position__markerContainer {
  display: flex;
  justify-content: center;
  height: 20px;
}
.position__markerContainer img {
  margin: 0 10px 0 0;
  width: 12px;
  opacity: 0.8;
}
.position__ville {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  font-family: "roboto";
  letter-spacing: 0.02rem;
  opacity: 0.7;
}
@media (min-width: 600px) {
  .position__ville {
    font-size: 22px;
  }
}

/* Section Présentation du concept */
.presentation {
  margin: 0;
  padding: 0 3%;
  background-color: rgba(237, 237, 237, 0.5);
}
.presentation__contentContainer {
  padding: 50px 0;
  margin: 0;
  text-align: center;
  font-family: "roboto";
}
.presentation__contentContainer h2 {
  width: 85%;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 1000;
}
@media (min-width: 600px) {
  .presentation__contentContainer h2 {
    font-size: 28px;
  }
}
.presentation__contentContainer h3 {
  width: 90%;
  margin: 5% auto 8% auto;
  font-weight: lighter;
  font-size: 18px;
  opacity: 0.6;
}
@media (min-width: 600px) {
  .presentation__contentContainer h3 {
    font-size: 22px;
  }
}

/* Section Fonctionnement - Les 3 étapes */
.fonctionnement {
  font-family: "roboto";
  padding: 8% 6%;
}
@media (min-width: 600px) {
  .fonctionnement {
    padding: 8% 12%;
  }
}
.fonctionnement img {
  display: inline-block;
  margin: 0 10%;
}
.fonctionnement h2 {
  margin: 0 0 10% 0;
  font-weight: bold;
}
@media (min-width: 600px) {
  .fonctionnement h2 {
    font-size: 28px;
  }
}
.fonctionnement__etape {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (min-width: 600px) {
  .fonctionnement__etape {
    width: 80%;
    margin: auto;
  }
}
.fonctionnement__etape .numContainer {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #9356DC;
  z-index: 2;
  margin: 0 0 5% 0;
}
@media (min-width: 600px) {
  .fonctionnement__etape .numContainer {
    width: 30px;
    height: 30px;
  }
}
.fonctionnement__etape .numContainer p {
  color: white;
  margin: 0;
  font-size: 13px;
}
@media (min-width: 600px) {
  .fonctionnement__etape .numContainer p {
    font-size: 16px;
  }
}
.fonctionnement__etape .texteEtape {
  display: flex;
  align-items: center;
  background-color: rgba(237, 237, 237, 0.5);
  width: 100%;
  height: 70px;
  font-family: "roboto";
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 20px;
  margin: 0 0 5% -0.8rem;
}
@media (min-width: 600px) {
  .fonctionnement__etape .texteEtape {
    height: 90px;
    font-size: 20px;
  }
}
.fonctionnement__etape .texteEtape p {
  margin: 0;
}
.fonctionnement__etape--1 img {
  width: 12px;
  opacity: 0.5;
  transform: scale(1.2);
}
.fonctionnement__etape--2 img {
  width: 16px;
  opacity: 0.5;
  transform: scale(1.2);
}
.fonctionnement__etape--3 .fa-store {
  margin: 0 10%;
  font-size: 16px;
  color: #9356DC;
}

/* Section Restaurants - Accueil*/
.restaurants {
  background-color: rgba(237, 237, 237, 0.5);
  padding: 10%;
}
@media (min-width: 600px) {
  .restaurants {
    padding: 10% 12%;
  }
}
.restaurants h2 {
  font-family: "roboto";
  font-weight: bold;
  margin: 0 0 6% 0;
}
@media (min-width: 600px) {
  .restaurants h2 {
    font-size: 28px;
  }
}
.restaurants__container {
  margin: 0 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurants__container .card {
  width: 100%;
  height: 250px;
  margin: 5% 0;
  border-radius: 15px;
  cursor: pointer;
}
.restaurants__container .card:hover {
  transform: scale(1.01);
}
@media (min-width: 600px) {
  .restaurants__container .card {
    width: 90%;
    margin: 6% auto;
  }
}
.restaurants__container .card a {
  display: block;
  width: 100%;
  height: 100%;
}

.pic {
  position: relative;
  height: 75%;
  border-radius: 15px 15px 0 0;
}
@media (min-width: 600px) {
  .pic {
    height: 65%;
  }
}

#paletteGout {
  background: url("../images/restaurants/resto_la-palette-du-gout.jpg") no-repeat;
  background-size: cover;
  background-position: 95% 90%;
}
@media (min-width: 600px) {
  #paletteGout {
    background-position: 95% 75%;
  }
}

#noteEnchantee {
  background: url("../images/restaurants/resto_la-note-enchantee.jpg") no-repeat;
  background-size: cover;
  background-position: 60% 60%;
}

#aLaFrancaise {
  background: url("../images/restaurants/resto_a-la-francaise.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}

#deliceDesSens {
  background: url("../images/restaurants/resto_le-delice-des-sens.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}

.textUnderPic {
  height: 25%;
  border-radius: 0 0 15px 15px;
  background-color: white;
  padding: 1% 0 1% 4%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .textUnderPic {
    height: 35%;
  }
}
.textUnderPic .containerText {
  width: 70%;
  margin: 0;
  padding: 0;
}
.textUnderPic .containerText p {
  color: black;
  margin: 2% 0 0 0;
  font-family: "roboto";
  font-size: 18px;
}
@media (min-width: 600px) {
  .textUnderPic .containerText p {
    font-size: 22px;
  }
}
.textUnderPic .containerText p:not(:last-child) {
  font-weight: bold;
}

/* étiquette restaurant Nouveau */
.new {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 15px;
  border-radius: 3px;
  padding: 2% 3%;
  font-family: "roboto";
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  background-color: #99E2D0;
  color: #2F8373;
}
@media (min-width: 600px) {
  .new {
    height: 25px;
    font-size: 20px;
    top: 20px;
    right: 20px;
  }
}

/* Section image*/
figure.resto-pic {
  height: 40vh;
  padding: 0;
  display: flex;
  max-width: 100%;
  margin: 0;
}
@media (min-width: 600px) {
  figure.resto-pic {
    height: 50vh;
  }
}
@media (min-width: 1430px) {
  figure.resto-pic {
    height: 60vh;
    max-width: 80%;
    margin: auto;
  }
}
figure.resto-pic img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/*Section Menu, submenu, et cards */
section.menu {
  padding: 5%;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  z-index: 1;
  margin-top: -4rem;
  position: relative;
}
@media (min-width: 600px) {
  section.menu {
    padding: 4% 10%;
  }
}
@media (min-width: 1430px) {
  section.menu {
    width: 80%;
    margin: -4rem auto 0 auto;
    padding: 4% 0 8% 0;
  }
}
section.menu .menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0;
}
@media (min-width: 1430px) {
  section.menu .menu__header {
    justify-content: flex-start;
    margin: 2% 0 8% 0;
  }
}
section.menu .menu__header h2 {
  font-style: italic;
  font-weight: 500;
  font-family: "shrikhand";
  font-size: 28px;
  margin: 0;
}
@media (min-width: 1430px) {
  section.menu .menu__header h2 {
    font-size: 40px;
    margin: 0 8% 0 4%;
  }
}
section.menu .menu__header .heartContainer {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
@media (min-width: 600px) {
  section.menu .menu__header .heartContainer {
    margin-right: 45px;
  }
}
section.menu .menu__header .heartContainer .far.fa-heart {
  transform: scale(2, 2.2);
  opacity: 0.5;
  color: #fface8;
}
section.menu .menu__header .heartContainer .fillingHeart {
  transition: all 0.5s linear 0s;
  background-color: #fface8;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  border: orange 1px dashed;
}
section.menu .menu__header .heartContainer .fillingHeart:hover, section.menu .menu__header .heartContainer .fillingHeart:focus {
  display: block;
}
section.menu .submenusContainer {
  margin: 0;
  padding: 0;
}
@media (min-width: 1430px) {
  section.menu .submenusContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
section.menu .submenusContainer .submenu:not(:last-child) {
  margin: 8% 0;
}
@media (min-width: 600px) {
  section.menu .submenusContainer .submenu:not(:last-child) {
    margin: 0;
  }
}
@media (min-width: 1430px) {
  section.menu .submenusContainer .submenu:not(:last-child) {
    margin: 0;
  }
}
section.menu .submenusContainer .submenu .submenu__title {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "roboto";
  font-weight: 400;
  opacity: 0.6;
  margin: 0;
  position: relative;
  padding-bottom: 0.5rem;
}
@media (min-width: 600px) {
  section.menu .submenusContainer .submenu .submenu__title {
    font-size: 20px;
    margin-bottom: 5%;
  }
}
section.menu .submenusContainer .submenu .submenu__title:after {
  content: "";
  background-color: #5dd1b5;
  width: 50px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.card {
  height: 70px;
  margin: 5% auto;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 600px) {
  .card {
    width: 370px;
  }
}
.card .texte {
  margin: 3%;
  flex: 1;
  font-family: "roboto";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card .texte p {
  font-size: 15px;
  margin: 2% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .texte p:not(:last-child) {
  font-size: 16px;
  font-weight: bold;
}
.card .prix {
  font-size: 16px;
  font-weight: 600;
  font-family: "roboto";
  padding-bottom: 3%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  opacity: 0.8;
  transition: all 450ms ease-in-out;
}
.card .checkContainer {
  margin: 0 -70px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  min-height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: all 450ms ease-in-out;
}
.card .checkContainer .checkRoundContainer {
  font-size: 18px;
  background-color: white;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-180deg);
  transition: all 400ms ease-in-out;
}
.card .checkContainer .checkRoundContainer .fa-check {
  color: #99E2D0;
  font-weight: 600;
  font-size: 16px;
}

/* Les animations au hover pour le desktop et au clic/focus pour le mobile */
.card:hover, .card:focus, .card:focus-within, .card:active {
  /* Ajouté selon tes conseils*/
}
.card:hover .prix, .card:focus .prix, .card:focus-within .prix, .card:active .prix {
  transform: translateX(-65px);
}
.card:hover .checkContainer, .card:focus .checkContainer, .card:focus-within .checkContainer, .card:active .checkContainer {
  transform: translateX(-65px);
}
.card:hover .checkContainer .checkRoundContainer, .card:focus .checkContainer .checkRoundContainer, .card:focus-within .checkContainer .checkRoundContainer, .card:active .checkContainer .checkRoundContainer {
  transform: rotate(0deg);
}

/* Section boutton commander */
section.buttonSection {
  background-color: #f6f6f6;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  section.buttonSection {
    height: 20vh;
  }
}
@media (min-width: 1430px) {
  section.buttonSection {
    width: 80%;
    margin: auto;
  }
}

.buttonContainer, .header, .fonctionnement__etape .texteEtape, .restaurants__container .card, .new, .card {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}

.restaurants__container .card:hover {
  box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "shrikhand";
  src: url(../fonts/shrikhand/Shrikhand-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
/* Media Queries */
/* Colors */
/* MQ */

/*# sourceMappingURL=style.css.map */
