@charset "UTF-8";
.restaurants__container .card, .fonctionnement__etape .texteEtape, .new, .buttonContainer, .header {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "shrikhand";
  src: url(../fonts/shrikhand/Shrikhand-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header commun aux 5 pages */
.header {
  height: 4.5vh;
  padding: 5% 0 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.header__arrow {
  display: none;
}
.header__logo {
  width: 200px;
  height: auto;
  transform: scale(0.8);
}

/* Footer commun aux 5 pages */
.footer {
  height: 25vh;
  background-color: #3a3838;
}
.footer__container {
  width: 85%;
  margin: auto;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.footer__container .fas {
  margin-right: 10px;
  color: white;
}
.footer__container > *:not(:last-child) {
  margin-bottom: 8px;
}
.footer__container a {
  color: white;
}
.footer__container p {
  margin: 0;
}
.footer__container .logo {
  margin: 25px 0 10px 0;
  height: 20px;
  width: 100px;
  color: white;
}
.footer__container .restau {
  display: flex;
  align-items: center;
}
.footer__container .partenaire {
  display: flex;
  align-items: center;
}
.footer__container .nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer__container .nav ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* Les boutons */
.buttonContainer {
  width: 230px;
  margin: auto;
  text-align: center;
  border-radius: 100px;
}
.buttonContainer:hover {
  animation-name: opacity;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.buttonContainer button {
  width: 100%;
  padding: auto;
  height: 55px;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background: linear-gradient(150deg, #FF79DA, #9356DC);
}

@keyframes opacity {
  100% {
    opacity: 0.7;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
  }
}
/* Le coeur et ses animations - battements par défaut et remplissage au hover*/
.coeur {
  position: relative;
  margin: auto;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background-color: pink;
  animation: beat 1s infinite;
}
.coeur:hover, .coeur:focus {
  animation: beat 0s;
}
.coeur:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -10px;
  background-color: pink;
}
.coeur:after {
  content: "";
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10px;
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(45deg);
  }
  50% {
    transform: scale(0.8) rotate(45deg);
  }
}
/* Loading spinner*/
.loader__container {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 30vh;
  width: 50vw;
}
.loader__container .loader::before, .loader__container .loader::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #9356DC;
}
.loader__container .loader::before {
  z-index: 100;
  animation: spin 1500ms infinite;
}
.loader__container .loader::after {
  border: 10px solid rgba(206, 206, 206, 0.5);
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* étiquette restaurant Nouveau */
.new {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 15px;
  border-radius: 3px;
  padding: 2% 3%;
  font-family: "roboto";
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  background-color: #99E2D0;
  color: #2F8373;
}

/* Section Position - Ville de recherche */
.position {
  margin: 0;
  height: 6vh;
  background-color: rgba(206, 206, 206, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.position__markerContainer {
  display: flex;
  justify-content: center;
  height: 20px;
}
.position__markerContainer img {
  margin: 0 10px 0 0;
  width: 12px;
  opacity: 0.8;
}
.position__ville {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  font-family: "roboto";
  letter-spacing: 0.02rem;
  opacity: 0.7;
}

/* Section Présentation du concept */
.presentation {
  margin: 0;
  padding: 0 3%;
  background-color: rgba(237, 237, 237, 0.5);
}
.presentation__contentContainer {
  padding: 50px 0;
  margin: 0;
  text-align: center;
  font-family: "roboto";
}
.presentation__contentContainer h2 {
  width: 85%;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 1000;
}
.presentation__contentContainer h3 {
  width: 90%;
  margin: 5% auto 8% auto;
  font-weight: lighter;
  font-size: 18px;
  opacity: 0.6;
}

/* Section Fonctionnement - Les 3 étapes */
.fonctionnement {
  font-family: "roboto";
  padding: 8% 6%;
}
.fonctionnement img {
  display: inline-block;
  margin: 0 10%;
}
.fonctionnement h2 {
  margin: 0 0 10% 0;
  font-weight: bold;
}
.fonctionnement__etape {
  display: flex;
  align-items: center;
  width: 100%;
}
.fonctionnement__etape .numContainer {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #9356DC;
  z-index: 2;
  margin: 0 0 5% 0;
}
.fonctionnement__etape .numContainer p {
  color: white;
  margin: 0;
  font-size: 13px;
}
.fonctionnement__etape .texteEtape {
  display: flex;
  align-items: center;
  background-color: rgba(237, 237, 237, 0.5);
  width: 100%;
  height: 70px;
  font-family: "roboto";
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 20px;
  margin: 0 0 5% -0.8rem;
}
.fonctionnement__etape .texteEtape p {
  margin: 0;
}
.fonctionnement__etape--1 img {
  width: 12px;
  opacity: 0.5;
  transform: scale(1.2);
}
.fonctionnement__etape--2 img {
  width: 16px;
  opacity: 0.5;
  transform: scale(1.2);
}
.fonctionnement__etape--3 .fa-store {
  margin: 0 10%;
  font-size: 16px;
  color: #9356DC;
}

/* Section Restaurants - Accueil*/
.restaurants {
  padding: 10%;
  background-color: rgba(237, 237, 237, 0.5);
}
.restaurants h2 {
  font-family: "roboto";
  font-weight: bold;
  margin: 0 0 6% 0;
}
.restaurants__container {
  margin: 0 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurants__container .card {
  width: 100%;
  height: 250px;
  margin: 3% 0;
  border-radius: 15px;
  cursor: pointer;
}
.restaurants__container .card .pic {
  position: relative;
  height: 75%;
  border-radius: 15px 15px 0 0;
}
.restaurants__container .card #paletteGout {
  background: url("../images/restaurants/resto_la-palette-du-gout.jpg") no-repeat;
  background-size: cover;
  background-position: 95% 90%;
}
.restaurants__container .card #noteEnchantee {
  background: url("../images/restaurants/resto_la-note-enchantee.jpg") no-repeat;
  background-size: cover;
  background-position: 60% 60%;
}
.restaurants__container .card #aLaFrancaise {
  background: url("../images/restaurants/resto_a-la-francaise.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}
.restaurants__container .card #deliceDesSens {
  background: url("../images/restaurants/resto_le-delice-des-sens.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}
.restaurants__container .card .textUnderPic {
  height: 25%;
  border-radius: 0 0 15px 15px;
  background-color: white;
  padding: 1% 0 1% 4%;
  display: flex;
  justify-content: space-between;
}
.restaurants__container .card .textUnderPic .containerText {
  width: 70%;
  margin: 0;
  padding: 0;
}
.restaurants__container .card .textUnderPic .containerText p {
  margin: 2% 0 0 0;
  font-family: "roboto";
  font-size: 18px;
}
.restaurants__container .card .textUnderPic .containerText p:not(:last-child) {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
