@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";



/* Footer commun aux 5 pages */
.footer {
	height: 25vh;
	background-color: color(footer);
	// border: 1px dashed red;
	@include responsive('tablet') {
		height: 35vh;
	}

	&__container {
		width: 90%;
		margin: auto;
		font-family: 'roboto';
		padding: 5% 0 0 0;
		font-weight: 600;
		letter-spacing: 0.02em;
		@include responsive('tablet') {
			width: 75%;
			margin: 0 auto;
			font-size: 20px;
		}
		@include responsive('desktop') {
			padding: 3% 0 0 0;
			width: 80%;
			margin: 0 auto;
		}

		.fas {
			margin-right: 10px;
			color: white;
		}

		> *:not(:last-child) {
			margin-bottom: 8px;
			@include responsive('tablet') {
				margin-bottom: 20px;
			}
		}
		
		a {
			color: white;
		}
		p {
			margin: 0;
		}
		
		.footer__logo {
			margin: 0 0 1rem;
			font-family: 'shrikhand';
			color: white;
			font-size: 20px;
			font-weight: lighter;
			// border: 1px solid red;
			@include responsive('tablet') {
				font-size: 26px;
				margin:  0 0 2rem;
			}
		}
		.restau {
			display: flex;
			align-items: center;
		}
		.partenaire {
			display: flex;
			align-items: center;
		}
		.nav ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			// border: 1px solid black;

			li:not(:last-child) {
				margin-bottom: 10px;
				@include responsive('tablet') {
					margin-bottom: 20px;
				}
			}
		}
	}
}