@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";

/* Header commun aux 5 pages */ 
.header {
	height: 4.5vh;
	padding: 5% 0 3% 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	@extend %shadow;

	@include desktop {
		padding: 3% 18%;
	}

	&__arrow {
		display: none;
	}

	&__logo {
		width: 200px;
		height: auto;
		transform: scale(0.9);
		@include desktop {
			width: 250px;
		}
	}
	
	&__arrow--display {
		cursor: pointer;
		display: flex;
		position: absolute;
		left: 5%;
		//border: 1px dashed black;

		img {
			height: 20px;
			width: 20px;
		}
	}
}