

/* Les boutons */
.buttonContainer {
	width: 250px;
	margin: auto;
	text-align: center;
	border-radius: 100px;
	@extend %shadow;
	@include tablet {
		width: 300px;
	}


	&:hover {
		animation: opacity 500ms forwards;
		@extend %shadowHover;
	}
	
	button {
		width: 100%;
		height: 60px;
		border-radius: 100px;
		border: none;
		color: white;
		font-weight: bold;
		font-size: 18px;
		background: linear-gradient(150deg, color(secondary), color(primary));
		@include tablet {
			font-size: 20px;
		}

		&:hover {
			cursor: pointer;
		}
	}
}


@keyframes opacity {
	100% {
		opacity: 0.8;
		box-shadow: 0px 1px 15px rgba(0, 0, 0, .5);
	}
}