@import "../utils/variables";
@import "../utils/mixins";

/* Le coeur et son animation 'battements' - Accueil */
.coeur {
	position: relative;
    margin: auto;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
	background-color: color(secondary_light);
	animation: beat 1s infinite;
	@include responsive('tablet') {
		width: 25px;
		height: 25px;
	}

	&:hover, &:focus {
		animation: beat 0s;
	}

	&:before {
		content: "";
		border-radius: 50%;
		position: absolute;
		width: 100%;
		height: 100%;
		left: -10px;
		background-color: color(secondary_light);
	}

	&:after {
		content: "";
		border-radius: 50%;
		position: absolute;
		width: 100%;
		height: 100%;
		top: -10px;
		background-color: color(secondary_light);
	}
}

@keyframes beat {
	0% {
		transform: scale(1) rotate(45deg);
	}
	50% {
		transform: scale(0.8) rotate(45deg);
	}
}