@import "../utils/variables";
@import "../utils/mixins";

body {
	margin: 0;
	position: relative;
}

a {
	text-decoration: none;
}

/* Favicon des onglets */
.favicon {
	transform: scale(0.5);
}



/* Logos W3C uniquement en version desktop */
.w3c_logo_container {
	display: none;
	
	@include responsive('desktop') {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 0;
		left: 45%;
	}

	.w3c_valid {
	
		@include responsive('desktop') {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			margin: 0;

			&--html img {
				height: fit-content;
			}

			&--css img {
				border:0;
				width:68px;
			}
		}
	}
}