@import "../utils/mixins";
@import "../utils/functions";
@import "../utils/variables";
@import "../utils/fonts";
@import "../utils/keyframes";
@import "../components/boutons";
@import "../components/coeur-qui-bat";



/* Contenu de la page qui apparait progressivement */
.main {
	margin: 0;
	width: 100%;
	animation: appear 3000ms linear;
}

/* Le loader et sa rotation */
.loader {
	display: inline-block;
	width: 300px;
	height: 300px;
	border: 10px solid color(grisPerle_dark);
	border-radius: 50%;
	border-top-color: color(primary);
	border-bottom-color: color(primary);
	animation: spin 1400ms ease-in-out 2;
}

/* Container du loading spinner qui disparait pendant l'apparition de la page */
.loaderContainer {
	position: absolute;
	transform-origin: center;
	top: 25vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-self: center;
	opacity: 0;
	z-index: -3;
	//border: 1px solid black;
	animation: disappear 2900ms ease-in-out;
}


/* Section Position - Ville de recherche */
.position {
	margin: 0;
	height: 6vh;
	background-color: color(grisPerle);
	display: flex;
	justify-content: center;
	align-items: center;
	// border: 1px solid green;

	@include responsive('desktop') {
		height: 8vh;
		width: 80%;
		margin: 0 auto;
	}

	&__markerContainer {
		display: flex;
		justify-content: center;
		height: 20px;

		img {
			margin: 0 10px 0 0;
			width: 12px;
			opacity: 0.8;
			@include responsive('desktop') {
				width: 25px;
				margin: 0;
			}
		}
	}

	&__ville {
		margin: 0;
		font-size: 16px;
		font-weight: bold;
		font-family: 'roboto';
		letter-spacing: 0.02rem;
		opacity: 0.7;
		
		@include responsive('tablet') {
			font-size: 22px;
		}
		@include responsive('desktop') {
			margin-left: 2rem;	
		}
	}
}


/* Section Présentation du concept */
.presentation {
	margin: 0;
	padding: 0 3%;
	background-color: color(grisGlace);
	// border: 1px solid black;
	@include responsive('desktop') {
		padding: 0;
		width: 80%;
		margin: 0 auto;
	}

	&__contentContainer {
		padding: 50px 0;
		margin: 0;
		text-align: center;
		font-family: 'roboto';
		// border: 1px dashed black;

		h2 {
			width: 85%;
			margin: 0 auto;
			font-size: 24px;
			font-weight: 1000;
			// border: 1px solid red;
			@include responsive('tablet') {
				font-size: 28px;
			}
		}

		h3 {
			width: 90%;
			margin: 5% auto 8% auto;
			font-weight: lighter;
			font-size: 18px;
			opacity: 0.6;
			// border: 1px solid red;
			@include responsive('tablet') {
				font-size: 22px;
			}
		}
	}
}


/* Section Fonctionnement - Les 3 étapes */ 
.fonctionnement {
	font-family: 'roboto';
	padding: 8% 6%;
	// border: 1px solid blue;
	@include responsive('tablet') {
		padding: 8% 12%;
	}
	@include responsive('desktop') {
		padding: 4% 10%;
	}

	img {
		display: inline-block;
		margin: 0 10%;
	}

	h2 {
		margin: 0 0 10% 0;
		font-weight: bold;
		@include responsive('tablet') {
			font-size: 26px;
		}
		@include responsive('desktop') {
			margin-bottom: 5%;
		}
	}

	&__etape {
		display: flex;
		align-items: center;
		width: 100%;
		@include responsive('tablet') {
			width: 80%;
			margin: auto;
		}
		@include responsive('smallDesktop') {
			width: 600px;
		}
		@include responsive('desktop') {
			width: 450px;
			&:not(:last-child) {
				margin: 4% auto;
			}
		}

		.numContainer {
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			background-color: color(primary);
			z-index: 2;
			margin: 0 0 5% 0;
			@include responsive('tablet') {
				width: 30px;
				height: 30px;
			}

			p {
				color: white;
				margin: 0;
				font-size: 13px;
				@include responsive('tablet') {
					font-size: 16px;
				}
			}
		}

		.texteEtape {
			display: flex;
			align-items: center;
			background-color: color(grisGlace);
			width: 100%;
			height: 70px;
			font-family: 'roboto';
			font-weight: bold;
			font-size: 16px;
			letter-spacing: 1px;
			border-radius: 20px;
			margin: 0 0 5% -0.8rem;
			@extend %shadow;
			@include responsive('tablet') {
				height: 90px;
				font-size: 18px;
			}

			p {
				margin: 0;
			}
		}
	}

	&__etape--1 {
		img {
			width: 12px;
			opacity: 0.5;
			transform: scale(1.2);
		}
	}

	&__etape--2 {
		img {
			width: 16px;
			opacity: 0.5;
			transform: scale(1.2);
		}
	}

	&__etape--3 {
		.fa-store {
			margin: 0 10%;
			font-size: 16px;
			color: color(primary);
		}
	}
}


/* Section Restaurants - Accueil*/
.restaurants {
	background-color: color(grisGlace);
	padding: 10%;
	@include responsive('tablet') {
		padding: 10% 12%;
	}
	@include responsive('smallDesktop') {
		padding: 10% 18%;
	}

	@include responsive('desktop') {
		padding: 4% 0 8% 0;
	}

	h2 {
		font-family: 'roboto';
		font-weight: bold;
		margin: 0 0 6% 0;
		@include responsive('tablet') {
			font-size: 26px;
		}
		@include responsive('desktop') {
			width: 80%;
			margin: 0 auto 4%;
		}
	}

	&__container {
		margin: 0 0 5% 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		//border: 1px dashed red;

		@include responsive('desktop') {
			width: 80%;
			margin: auto;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}

		.card {
			width: 100%;
			height: 250px;
			margin: 5% 0;
			border-radius: 15px;
			cursor: pointer;
			@extend %shadow;
			//border: 1px blue solid;
			
			&:hover {
				@extend %shadowHover;
			}
			
			@include responsive('tablet') {
				width: 90%;
				margin: 6% auto;
			}

			@include responsive('smallDesktop') {
				width: 500px;
			}

			@include responsive('desktop') {
				margin: 2% auto;
				width: 450px;
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
			}

		}
	}
}


.pic {
	position: relative;
	height: 75%;
	border-radius: 15px 15px 0 0;
	// border: 1px solid orange;
	@include responsive('tablet') {
		height: 65%;
	}
}
#paletteGout {
	background: url('../images/restaurants/resto_la-palette-du-gout.jpg') no-repeat; 
	background-size: cover;
	background-position: 95% 90%;
	@include responsive('tablet') {
		background-position: 95% 75%;
	}
}
#noteEnchantee {
	background: url('../images/restaurants/resto_la-note-enchantee.jpg') no-repeat;
	background-size: cover;
	background-position: 60% 60%;
}
#aLaFrancaise {
	background: url('../images/restaurants/resto_a-la-francaise.jpg') no-repeat;
	background-size: cover;
	background-position: 50% 90%;
}
#deliceDesSens {
	background: url('../images/restaurants/resto_le-delice-des-sens.jpg') no-repeat;
	background-size: cover;
	background-position: 50% 90%;
}

.textUnderPic {
	height: 25%;
	border-radius:  0 0 15px 15px;
	background-color: white;
	padding: 1% 0 1% 4%;
	display: flex;
	justify-content: space-between;
	@include responsive('tablet') {
		height: 35%;
	}

	.containerText {
		width: 70%;
		margin: 0;
		padding: 0;
		p {
			color: black;
			margin: 2% 0 0 0;
			font-family: 'roboto';
			font-size: 18px;
			@include responsive('tablet') {
				font-size: 20px;
			}
		}
		p:not(:last-child) {
			font-weight: bold;
		}
	}
}



/* Étiquette restaurant Nouveau */
.new {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 15px;
	border-radius: 3px;
	padding: 2% 3%;
	font-family: 'roboto';
	font-size: 14px;
	font-weight: bold;
	z-index: 1;
	background-color: color(tertiary);
	color: color(couleurNouveau);
	@extend %shadow;

	@include responsive('tablet') {
		height: 15px;
		font-size: 16px;
		top: 20px;
		right: 20px;
	}
}