
/* Apparition de la page pendant la disparition du loading spinner */
.main {
	margin: 0;
	width: 100%;
	animation: appear 4500ms linear;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0.01;
	}
	99% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

/* Loading spinner et son animation rotation */
.loader {
	display: inline-block;
	width: 300px;
	height: 300px;
	border: 10px solid darken($grisPerle, 10%);
	border-radius: 50%;
	border-top-color: $primary_color;
	border-bottom-color: $primary_color;
	animation: spin 1500ms ease-in-out 3;
	-webkit-animation: spin 1500ms ease-in-out 3;
}

@keyframes spin{
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Container du loading spinner qui disparait pendant l'apparition de la page */
.loaderContainer {
	position: absolute;
	transform-origin: center;
	top: 25vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-self: center;
	opacity: 0;
	z-index: -3;
	//border: 1px solid black;
	animation: disappear 4400ms ease-in-out;
}

@keyframes disappear {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 0.7;
	}
	100% {
		opacity: 0;
	}
}



/* étiquette restaurant Nouveau */
.new {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 15px;
	border-radius: 3px;
	padding: 2% 3%;
	font-family: 'roboto';
	font-size: 14px;
	font-weight: bold;
	z-index: 1;
	@extend %shadow;
	background-color: $tertiary_color;
	color: $vert-fonce;
}