
/* Section image*/

figure.resto-pic {
	height: 40vh;
	padding: 0;
	display: flex;
	max-width: 100%;
	margin: 0;
	@include responsive('tablet') {
		height: 50vh;
	}
	@include responsive('desktop') {
		height: 60vh;
		max-width: 80%;
		margin: auto;
	}

	img {
		width: 100%;
		max-height: 100%;
		object-fit: cover;
	}
}

/*Section Menu, submenu, et cards */ 

section.menu {
	padding: 5%;
	background-color: color(bg-menu);
	border-radius: 50px 50px 0 0;
	z-index: 1;
	margin-top: -4rem;
	position: relative;
	//border: 1px red dashed;

	@include responsive('tablet') {
		padding: 4% 10%;
	}
	@include responsive('desktop') {
		width: 80%;
		margin: -4rem auto 0 auto;
		padding: 4% 0;
	}

	.menu__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 5% 0;
		//border: 1px green dashed;
		
		@include responsive('desktop') {
			margin: 0 0 8% 0;
		}

		h1 {
			font-style: italic;
			font-weight: 500;
			font-family: 'shrikhand';
			font-size: 28px;
			margin: 0;
			//border: 1px blue dashed;
			@include responsive('desktop') {
				font-size: 40px;
				margin: 0 8% 0 4%;
			}
		}

		.heartContainer {
			width: 40px;
			height: 40px;
			padding: 0;
			margin-right: 15px;
			position: relative;
			cursor: pointer;
			border: none;
			background-color: black;

			@include responsive('tablet') {
				margin-right: 45px;
			}

			&:hover:before {
				opacity: 1;
			}

			&:before {
				opacity: 0;
				transition: 500ms;
				content: "";
				background: linear-gradient(0deg, color(secondary_light),color(primary));
			}
			
			&:before, .fa-heart {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
			}

			.fa-heart {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 2.2rem;
				background-color: color(bg-menu);
				transition: 250ms ease-in-out;
				mix-blend-mode: lighten;
			}
			
			&:hover .notFilled {
				opacity: 0;
			}
		}
	}
}


.submenusContainer {
	margin: 0;
	padding: 0;
	//border: 1px black dashed;

	@include responsive('desktop') {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.submenu {
		// border: orange 1px dashed;

		&:not(:last-child) {
			margin: 8% 0;
			@include responsive('tablet') {
				margin: 0;
			}
		}

		.submenu__title {
			font-size: 18px;
			text-transform: uppercase;
			font-family: 'roboto';
			font-weight: 400;
			opacity: 0.6;
			margin: 0;
			position: relative;
			padding-bottom: 0.5rem;
			animation: card 2250ms -1.2s ease-out;
			@include responsive('tablet') {
				font-size: 20px;
				margin-bottom: 5%;
			}

			&::after {
				content: "";
				background-color: color(tertiary_dark);
				width: 50px;
				height: 4px;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
	}
}

.card {
	height: 70px;
	margin: 5% auto;
	background-color: white;
	border-radius: 15px;
	display: flex;
	align-items: center;
	overflow: hidden;
	animation: card 2250ms ease-out;
	@extend %shadow;

	@include responsive('tablet') {
		width: 370px;
	}

	.texte {
		margin: 3%;
		width: 85%;
		font-family: 'roboto';
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		transition: all 450ms ease-in-out;
		
		p {
			width: 100%;
			font-size: 15px;
			margin: 2% 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: all 450ms ease-in-out
		}
		p:not(:last-child) {
			font-size: 16px;
			font-weight: bold;
		}
	}

	.prix {
		font-size: 16px;
		font-weight: 600;
		font-family: 'roboto';
		height: 100%;
		padding-bottom: 7%;
		width: 50px;
		margin: 0 0.2rem 0 1rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		opacity: 0.8;
		transition: all 450ms ease-in-out;
		//border: 1px dashed orange;
	}

	.checkContainer {
		margin: 0 -66px 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		min-height: 100%;
		border-radius: 0 15px 15px 0;
		background-color: color(tertiary);
		transition: all 450ms ease-in-out;
		//border: 1px dashed blue;
		
		.checkRoundContainer {
			font-size: 18px;
			background-color: white;
			border-radius: 50%;
			width: 26px;
			height: 26px;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: rotate(-180deg);
			transition: all 400ms ease-in-out;
			//border: 1px dashed black;

			.fa-check {
				color: color(tertiary);
				font-weight: 600;
				font-size: 16px;
			}
		}
	}
}

/* Animation des cards */
.card {
	/* Apparition au chargement de la page */

	&--1 {
		animation-delay: -0.9s;
	}
	&--2 {
		animation-delay: -0.6s;
	}
	&--3 {
		animation-delay: -0.3s;
	}

	/* Animation du check au hover pour le desktop et au clic/focus pour le mobile */
	&:hover, &:focus, &:focus-within, &:active {
		cursor: pointer;

		.texte {
			width: 85%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			p {
				width: 85%;
			}
		}

		.prix {
			transform: translateX(-66px);
		}

		.checkContainer {
			transform: translateX(-66px);
			.checkRoundContainer {
				transform: rotate(0deg);
			}
		}
	}
}


/* Section boutton commander */
section.buttonSection {
	background-color: color(bg-menu);
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	@include responsive('tablet') {
		height: 20vh;
	}
	@include responsive('desktop') {
		width: 80%;
		margin: auto;
	}
}