

/* Section image*/

figure.resto-pic {
	height: 40vh;
	padding: 0;
	display: flex;
	max-width: 100%;
	margin: 0;
	@include tablet {
		height: 50vh;
	}

	img {
		width: 100%;
		max-height: 100%;
		max-width: 100%;
		object-fit: cover;
	}
}

/*Section Menu, submenu, et cards */ 

section.menu {
	padding: 5%;
	background-color: color(bg-menu);
	border-radius: 50px 50px 0 0;
	z-index: 1;
	margin-top: -4rem;
	position: relative;
	//border: 1px red dashed;

	.menu__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 5% 0;

		h2 {
			font-style: italic;
			font-weight: 500;
			font-family: 'shrikhand';
			font-size: 28px;
			margin: 0;
			@include tablet {
				font-size: 30px;
			}
		}

		.heartContainer {
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 15px;
			@include tablet {
				margin-right: 45px;
			}
			
			.far.fa-heart {
				transform: scale(2, 2.2);
				opacity: 0.5;
			}
		}
	}

	.submenu {
		&:not(:last-child) {
			margin: 8% 0;
		}

		.submenu__title {
			font-size: 18px;
			text-transform: uppercase;
			font-family: 'roboto';
			font-weight: 400;
			opacity: 0.6;
			margin: 0;
			position: relative;
			padding-bottom: 0.5rem;
			@include tablet {
				font-size: 20px;
			}

			&:after {
				content: "";
				background-color: color(tertiary_dark);
				width: 50px;
				height: 4px;
				position: absolute;
				left: 0;
				bottom: 0;
			}
			
		}

		.card {
			width: 90%;
			height: 50px;
			margin: 5% auto;
			padding: 3%;
			background-color: white;
			border-radius: 15px;
			display: flex;
			justify-content: space-between;
			overflow: hidden;
			@extend %shadow;

			.texte {
				width: 80%;
				font-family: 'roboto';
								
				p:not(:last-child) {
					font-size: 16px;
					font-weight: bold;
					margin: 2% 0;
					@include tablet {
						font-size: 18px;
					}
				}

				p {
					font-size: 14px;
					margin: 0;
					@include tablet {
						font-size: 16px;
					}
				}

			}

			.prix {
				width: 10%;
				margin: 0;
				padding-bottom: 1%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				strong {
					text-align: center;
					font-size: 14px;
					font-weight: 600;
					font-family: 'roboto';
					opacity: 0.8;
					@include tablet {
						font-size: 16px;
					}
				}
			}

			.checkContainer {
				margin: -3.2% -65px 0 0;
				display: none;
				width: 65px;
				height: 74px;
				border-radius: 0 15px 15px 0;
				background-color: color(tertiary);
				//border: 1px dashed black;
				
				.checkRoundContainer {
					background-color: white;
					border-radius: 50%;
					width: 22px;
					height: 22px;
					display: flex;
					justify-content: center;
					align-items: center;
					transform: rotate(270deg);
					animation: checkRotate 450ms forwards;
					//border: 1px dashed black;

					.fa-check {
						color: color(tertiary);
						font-weight: 600;
					}
				}
			}
			
			&:hover {
				transform: scale(1.02);
				@extend %shadowHover;
				padding: 3% 0 3% 3%;
				//position: relative;
				overflow: hidden;
				
				.texte {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.prix {
					animation: SlideToLeft 550ms forwards;
				}
				
				.checkContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					animation: SlideToLeft 550ms forwards;
					&::after {
						animation: SlideToRight 400ms forwards;
					}
				}
			}
		}
	}
}

/* Check icon animation*/
@keyframes checkRotate {
	100% {
		transform: rotate(0deg);
	}
}

@keyframes SlideToLeft {
	100% {
		transform: translateX(-65px);
	}
}
@keyframes SlideToRight {
	100% {
		transform: translateX(20%);
	}
}



/* Section boutton commander */
section.buttonSection {
	background-color: color(bg-menu);
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	@include tablet {
		height: 20vh;
	}
}