$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$vert-fonce: #2F8373;



$grisGlace: rgba(237, 237, 237, 0.5);
$grisPerle: rgba(206, 206, 206, 0.5);

$footer_color: rgb(58, 56, 56);

%shadow {
	box-shadow:	0px 1px 10px rgba(0, 0, 0, .3);
}