$colors: (
	primary: #9356DC,
	secondary: #FF79DA,
	secondary_light: lighten(#FF79DA, 10%),
	tertiary: #99E2D0,
	tertiary_dark: darken(#99E2D0, 15%),
	couleurNouveau: #2F8373,
	grisGlace: rgba(237, 237, 237, 0.5),
	grisPerle: rgba(206, 206, 206, 0.5),
	bg-menu: rgba(246, 246, 246,1),
	grisPerle_dark: darken(rgba(206, 206, 206, 0.5), 10%),
	footer: rgb(58, 56, 56)
);

%shadow {
	box-shadow:	0px 1px 12px rgba(0, 0, 0, .3);
}

%shadowHover {
	box-shadow:	-1px -1px 6px rgba(0, 0, 0, .5);
}

$breakpoints: (
	tablet: 600px,
	desktop: 1430px,
	LGdesktop: 1920px
);